.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;

    &.primary-button{
        background-color: #8CC0EB;
        color: #111827;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.2s ease;
        &:hover {
            background-color: #BFDDF0;
        }
    }

    &:active{
        transform: scale(0.9);
    }
}